{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1 class="text-center">Register New Employee</h1>
    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
    {% endfor %}

    <form action="/register" method="post">
        <div class="mb-3">
            <label class="form-label">Full Name</label>
            <input type="text" class="form-control" name="name">
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="email">
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>

</div>
{% endblock body %}